<section>
    
    <h1 align="center" style="color: #f47a42;"><u>English Premier League Club Matches</u></h1></br>
    <div class="container">
        <div class="row" >
            <div class="col-md-3 col-lg-3 ">
                <!-- Toggle Menu Navbar filters start -->
                <nav class="navbar navbar-default " id="sideNav">
                  <div align="center" class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#" >Filters</a>
                  </div>

                  <div class="collapse navbar-collapse sidebar" id="bs-example-navbar-collapse-1">
                    <div class="navbar-nav nav">
                        <form class="form-horizontal">
                            <div class="form-group nav-item">
                                <label class=" col-xs-12 nav-link js-scroll-trigger">Search By Team Name: </label>
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" ng-model="searchTeam" placeholder="Enter your Favourite Team Name" />
                                </div>
                            </div>
                            <div class="form-group nav-item">
                                <label class=" col-xs-12 nav-link js-scroll-trigger">Search By Team Code: </label>
                                <div class="col-xs-12">
                                    <input type="text" class="search form-control input-sm" ng-model="searchCode" placeholder="Enter Team Code To Search" />
                                </div>
                            </div>
                            <div class="form-group nav-item">
                                <label class=" col-xs-12 nav-link js-scroll-trigger">Search By Team 1 Goals: </label>
                                <div class="col-xs-12">
                                    <input type="text" class="search form-control input-sm" ng-model="searchByScore1.score1" placeholder="Enter Score To Search" />
                                </div>
                            </div>
                            <div class="form-group nav-item">
                                <label class=" col-xs-12 nav-link js-scroll-trigger">Search By Team 2 Goals: </label>
                                <div class="col-xs-12">
                                    <input type="text" class="search form-control input-sm" ng-model="searchByScore2.score2" placeholder="Enter Score To Search" />
                                </div>
                            </div>
                            <div class="form-group nav-item">
                                <label class=" col-xs-12 nav-link js-scroll-trigger">Search By Year: </label>
                                <div class="col-xs-12">
                                    <input type="text" class="search form-control input-sm" ng-model="searchByYear" placeholder="Enter Year To Search" />
                                </div>
                            </div>
                        </form>
                    </div>
                  </div>
                </nav>
            </div>
            <!-- Toggle Menu Navbar filters end -->

            <!-- Data part start -->
            <div class="col-md-9 col-lg-9">
            <div class="allDataTable table-responsive text-center">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">
                                    Date
                                </th>
                                <th class="text-center">
                                    Team 1 vs Team 2
                                </th>
                                <th class="text-center">
                                    Score 1
                                </th>
                                <th class="text-center">
                                    Score 2
                                </th>
                                <th class="text-center">
                                    Match Stats
                                </th>
                            </tr>
                        </thead>
                        <tbody ng-repeat='round in myData.combinedData '>
                            <tr ng-repeat="match in round.matches  | filter:searchTeam | filter:searchByScore1 | filter:searchByScore2 | filter:searchByYear | filter:searchCode">
                                <td class="text-center">
                                    {{ match.date | date: "fullDate" }}   
                                </td>
                                <td class="text-center" white-space: nowrap>
                                    <a ng-href="#/team-view/{{ match.team1.code }}/{{ match.team1.key }}" title="View Team Statistics">{{ match.team1.name }}</a>
                                    <br> code: "{{ match.team1.code }}" </br> Vs </br>
                                    <a ng-href="#/team-view/{{ match.team2.code }}/{{ match.team2.key }}" title="View Team Statistics">{{ match.team2.name }}</a>
                                    <br> code: "{{ match.team2.code }}"
                                </td>
                                <td class="text-center">
                                    <span>{{match.score1 }}</span><span ng-show="match.score1 === null">"Not Available Yet"</span>
                                </td>
                                <td class="text-center">
                                    <span>{{match.score2 }}</span><span ng-show="match.score2 === null">"Not Available Yet"</span>
                                </td>
                                <td class="text-center"> <a ng-href='#/view-match/{{ match.date | date:"yyyyMMdd" }}/{{ match.team1.code }}/vs/{{ match.team2.code }}' title="View Match Full Details">{{round.name}}</a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <!--  allDatatable end -->
                </div>
                    <!-- col end -->
                </div>
                <!--  row end -->
            </div>
            <!-- conteiner-fluid end -->
</section>
